# Temporary directories
/Backup/*
/Solutions/*
/Editor/*
/logbackups/*
/user/*
/user(1)/*
/Game/engineassets/*
/Game/_tmp/*

# Log files
*.log
*.dmp

# Temp files
*.ilk
*.pdb
*.zip

last_fbx_scene.txt
error.jpg